.header {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--header-color);
}

.header-logo {
  display: block;

  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-black-color);
}

.logo-half {
  color: var(--aсcent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-item-contacts {
  display: flex;
  align-items: baseline;
}

.header-nav,
.header-list,
.transfer {
  display: flex;
  align-items: center;
}

.header-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-link {
  display: inline-block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--aсcent-color);
  }
}

.active {
  color: var(--aсcent-color);
  &::after {
    content: "";
    position: relative;
  
    display: block;
    top: 33px;
    left: 0px;
  
    width: 100%;
    height: 4px;
    background-color: var(--aсcent-color);
    border-radius: 2px;
    transform: scaleX(1);
  }
}

.header-email {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--grey-text-color);
  &:hover,
  &:focus {
    color: var(--aсcent-color);
  }
}

.header-tel {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--grey-text-color);
  &:hover,
  &:focus {
    color: var(--aсcent-color);
  }
}
